<h1>Editing situation</h1>

<%= render "form", situation: @situation %>

<br>

<div>
  <%= link_to "Show this situation", @situation %> |
  <%= link_to "Back to situations", situations_path %>
</div>
