<h1>Editing side sport</h1>

<%= render "form", side_sport: @side_sport %>

<br>

<div>
  <%= link_to "Show this side sport", @side_sport %> |
  <%= link_to "Back to side sports", side_sports_path %>
</div>
