<div id="<%= dom_id formation_sport %>">
  <p>
    <strong>Formation:</strong>
    <%= formation_sport.formation_id %>
  </p>

  <p>
    <strong>Sport:</strong>
    <%= formation_sport.sport_id %>
  </p>

</div>
