<h1>Editing formation sport</h1>

<%= render "form", formation_sport: @formation_sport %>

<br>

<div>
  <%= link_to "Show this formation sport", @formation_sport %> |
  <%= link_to "Back to formation sports", formation_sports_path %>
</div>
