<div id="<%= dom_id situation_sport %>">
  <p>
    <strong>Situation:</strong>
    <%= situation_sport.situation_id %>
  </p>

  <p>
    <strong>Sport:</strong>
    <%= situation_sport.sport_id %>
  </p>

</div>
